export.json
{
    "name": "VOLTA_HACKATHON",
    "nodes": [
      {
        "parameters": {
          "public": true,
          "initialMessages": "Welcome to our Hack :)",
          "options": {
            "allowFileUploads": true,
            "title": "Volta Hackathon 2024"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          -2380,
          200
        ],
        "id": "e0a0380b-578c-406f-b508-0389844cbcc4",
        "name": "When chat message received",
        "webhookId": "0ad76a80-ceca-4682-8427-51a190c93686"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          -2060,
          560
        ],
        "id": "92d0db68-d3d1-4c64-aee9-c9bce6502648",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "nSEI7qU4Md4Xbucf",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1vbmg8hAy9ZBoXKXn23SKWkmJCOloZtvx",
            "mode": "list",
            "cachedResultName": "VOLTA_HACKATHON",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1vbmg8hAy9ZBoXKXn23SKWkmJCOloZtvx"
          },
          "event": "fileCreated",
          "options": {
            "fileType": "all"
          }
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -1560,
          -240
        ],
        "id": "50f850b3-ba56-47d4-a95c-c6a4994e1889",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Eg8dTSH3FNiiHc2S",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -1320,
          -240
        ],
        "id": "a2fdf9f0-a773-43d8-9f38-d7a08b116091",
        "name": "Google Drive1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "Eg8dTSH3FNiiHc2S",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "volta-project",
            "mode": "list",
            "cachedResultName": "volta-project"
          },
          "options": {
            "pineconeNamespace": "studynotes"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1,
        "position": [
          -860,
          -240
        ],
        "id": "8d687d87-a514-4998-accf-482b8b7489cd",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "3p7JCMGJxDpbY1dG",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.1,
        "position": [
          -980,
          0
        ],
        "id": "47ee9334-1fa0-4ae6-b760-28092a66f795",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "nSEI7qU4Md4Xbucf",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1,
        "position": [
          -740,
          0
        ],
        "id": "9c9ee0bf-845e-4f5c-9606-1a639a145842",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1100,
          -240
        ],
        "id": "b82f2cfe-a44a-4643-aa69-c57b36ee1d84",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          -560,
          160
        ],
        "id": "066113c7-c90d-4bc1-b690-4c83a1c9e98b",
        "name": "Recursive Character Text Splitter"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=User Input Text:\n{{ $json.input }}\n\nFile Text:\n{{ $json.file_input }}",
          "options": {
            "systemMessage": "=You are an agent that helps programming students that helps with planning, summmarization, and creating queue cards. \n\nWhen asked to create an event, first check for availability in that time slot and then create an event.\n\nIf you are provided with a file, analyze the said file with the context and create a step by step tasks to follow.\n\nIf the user has uploaded a syllabus, you should look for specific exam, test, or quiz times and dates, and send each one individually to the scheduling tool to create events. \n\nIf user is asking you to create multiple events, check if there is availability first for each, and for each call on the create event tool.\n\nIf you are not provided a file, use the vector store provided to fetch user answers. The vector store is your knowledge base.\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          -1880,
          420
        ],
        "id": "e889c66a-c127-4b25-98d9-63487cfa2aee",
        "name": "AI Agent",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.2,
        "position": [
          -1920,
          560
        ],
        "id": "90cdc6d0-87c8-4203-83ef-5076035a2b66",
        "name": "Window Buffer Memory"
      },
      {
        "parameters": {
          "name": "student_knowledge_base",
          "description": "This is the vector base for the student's knowledge base, this is where the student will store all their documents"
        },
        "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
        "typeVersion": 1,
        "position": [
          -1900,
          760
        ],
        "id": "1d857972-0a22-49a6-9d65-7f3f8b9f869b",
        "name": "Vector Store Tool"
      },
      {
        "parameters": {
          "pineconeIndex": {
            "__rl": true,
            "value": "volta-project",
            "mode": "list",
            "cachedResultName": "volta-project"
          },
          "options": {
            "pineconeNamespace": "studynotes"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1,
        "position": [
          -1900,
          900
        ],
        "id": "5df79285-f102-43f8-96db-bd65981b734f",
        "name": "Pinecone Vector Store1",
        "credentials": {
          "pineconeApi": {
            "id": "3p7JCMGJxDpbY1dG",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.1,
        "position": [
          -1820,
          1020
        ],
        "id": "7950a85f-3590-413b-abbf-28a44651d3bc",
        "name": "Embeddings OpenAI1",
        "credentials": {
          "openAiApi": {
            "id": "nSEI7qU4Md4Xbucf",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          -1600,
          740
        ],
        "id": "28a6c3cb-22b7-4d97-8042-3bb0df95d739",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "nSEI7qU4Md4Xbucf",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "volta-project",
            "mode": "list",
            "cachedResultName": "volta-project"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1,
        "position": [
          -2000,
          -240
        ],
        "id": "cfe36955-4cf4-48a4-ad9f-a4f261a6f3e8",
        "name": "Pinecone Vector Store2",
        "credentials": {
          "pineconeApi": {
            "id": "3p7JCMGJxDpbY1dG",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.1,
        "position": [
          -2140,
          -80
        ],
        "id": "32c0d1f6-6fa9-4026-a762-dce3f6eb498f",
        "name": "Embeddings OpenAI2",
        "credentials": {
          "openAiApi": {
            "id": "nSEI7qU4Md4Xbucf",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          -1880,
          40
        ],
        "id": "04ea11e0-69d2-4a55-b2a3-f53523990c9f",
        "name": "Recursive Character Text Splitter1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "fffe3e2d-1383-4af3-905a-1b380323e59c",
                "leftValue": "={{ $json.files[0].fileName }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2180,
          200
        ],
        "id": "80d5f819-5673-4083-a00a-ebfe4f8846c1",
        "name": "If",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1,
        "position": [
          -1960,
          -100
        ],
        "id": "e1afc2d3-eef6-4c89-a004-68b7fd36b07d",
        "name": "Default Data Loader1"
      },
      {
        "parameters": {
          "operation": "pdf",
          "binaryPropertyName": "data0",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -1980,
          180
        ],
        "id": "e77eb1a4-5f9d-47df-bd84-046ebfe9815b",
        "name": "Extract from File",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9eb4bc2c-163a-44dd-b374-ba827ce1e56f",
                "name": "input",
                "value": "={{ $('When chat message received').item.json.chatInput }}",
                "type": "string"
              },
              {
                "id": "1d176d64-861f-4fec-8a6a-315f8f1e3703",
                "name": "file_input",
                "value": "={{ $json.text ? $json.text : \"\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1720,
          180
        ],
        "id": "0ac3baad-ea59-4bc4-823d-9a19d114fe98",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "name": "set_calendar_events",
          "description": "Call this tool to create calendar events based on user's requirements.",
          "workflowId": {
            "__rl": true,
            "value": "5GL6S6FUAHzMq4Iu",
            "mode": "list",
            "cachedResultName": "set_calendar_event"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1420,
          620
        ],
        "id": "f5b0f68b-9a19-4ac5-9609-ba7c5a7157af",
        "name": "_set_calendar_event"
      },
      {
        "parameters": {
          "name": "get_calendar_events",
          "description": "Call this tool to get calendar events, and availability. This should be called for any event you create for ease of use.",
          "workflowId": {
            "__rl": true,
            "value": "ZolQhnR5Itp2on0B",
            "mode": "list",
            "cachedResultName": "Get Calendar Events"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1420,
          860
        ],
        "id": "8cbb95f3-d262-43fc-bcc9-37397c9ca93b",
        "name": "get_calendar_event"
      },
      {
        "parameters": {
          "name": "email_summary",
          "description": "Call this tool when user needs summary of today's mail",
          "workflowId": {
            "__rl": true,
            "value": "Vtyt53LjCkgOR8Is",
            "mode": "list",
            "cachedResultName": "Hao Tangcopy"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.2,
        "position": [
          -1340,
          760
        ],
        "id": "10b0a58e-3c50-47cf-9fe5-4558d7e696fd",
        "name": "summarize the emails of today"
      }
    ],
    "pinData": {},
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Google Drive1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Pinecone Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Vector Store Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store1": {
        "ai_vectorStore": [
          [
            {
              "node": "Vector Store Tool",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI1": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Vector Store Tool",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI2": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store2",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter1": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader1",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader1": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store2",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "_set_calendar_event": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "get_calendar_event": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "summarize the emails of today": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "c51488f2-ecd7-4679-a4b2-a92da0ee6ae5",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "a7afcdbf459d3aab01a5a7a0248ea6b7039e83f242f654003db41c7b2d995633"
    },
    "id": "F5uE0iAxz7eRWQmF",
    "tags": []
  }